@model IEnumerable<AserAgence.Models.Village>

@{
    ViewData["Title"] = "Index";
}

<h1>List Villages</h1>

<p>
    <a class="btn btn-info text-white" asp-action="Create">Create Village</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VillageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VillageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectrifiedHouseholds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsElelctrify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commune)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VillageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VillageCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectrifiedHouseholds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElelctrify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune.CommuneName)
            </td>
            <td>
                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.VillageID">Edit</a>
                    @*<a class="btn btn-secondary text-white" asp-action="Details" asp-route-id="@item.VillageID">Details</a>*@
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.VillageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
