@model IEnumerable<AserAgence.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1>Survey List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+New Survey</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurveyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectrifiedHouseholdsSurveyed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Village)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectrifiedHouseholdsSurveyed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village.VillageName)
            </td>
            <td>
                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
